In [1]:
import numpy as np
import matplotlib.pyplot as plt
import sklearn.linear_model
import pandas as pd

In [8]:
df = pd.read_csv("MTQ3.csv")
X = df.iloc[:, [1, 2]].values
df

   ID  Alcohol  Malic acid  Class label
0   0    14.23        1.71            0
1   1    13.20        1.78            1
2   2    13.16        2.36            1
3   3    14.37        1.95            0
4   4    13.24        2.59            0

In [9]:
#4 Feature Scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X)
X_train

array([[ 1.08997918, -1.07836773],
       [-0.81286583, -0.87324344],
       [-0.88676272,  0.82635788],
       [ 1.3486183 , -0.37508443],
       [-0.73896893,  1.50033771]])